h1 {
    font-size: 30px;
    color:turquoise;
}

.p-verde {
    color:greenyellow;
    text-align: center;
}

.p-morado {
    color:rebeccapurple;
    text-align: right;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}